.colorAmin{
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.colorSolidVault{
    background: #3a7bd5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3a6073, #3a7bd5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3a6073, #3a7bd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.colorNetflix{
    background: #8E0E00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.colorSkyline{
    background: #1488CC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-abstract-black{
    background-image: url('../img/pic6.jpg'); 
    background-repeat: no-repeat; 
    background-size: cover;
}
.bg-abstract-yel{
    /* background-image: url('../img/bg.jpg');  */
    /* background-repeat: no-repeat; 
    background-size: cover; */
    background-color: #EDF2F4;
}
.yel{
    color:#FBB117;
}

.blk{
    color:#000;
}

.btn-customyel{
    background-color:#D12421;
    color:#EDF2F4;
}

.btn-customyel:hover{
    background-color:#EDF2F4;
    color:#D12421;
}

.btn-customblk{
    background-color:#EDF2F4;
    color:#D12421;
}
.btn-customblk:hover{
    background-color:#D12421;
    color:#EDF2F4;
}

.img-forprof{
    width:30px; 
    height:auto;
}

.bg-red{
    background-color:#D12421;
}
.text-red{
    color:#D12421;
}

